# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\projects\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea/
*.iml
/target
/eureka-server/target/
codeDemo.iml
/basic-test/target
